---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Ago. 2022 - Actualmente...",
    title: "Development .Net Fullstack – Freelancer.",
    company: "ReadyCash · Profesional independiente",
    description:
      "Buenos Aires y alrededores · En remoto, Buenos Aires y alrededores · En remoto C#.Net, ASP.Net, MVC, SQL Server, JavaScript, JQuery, JSON, Sql Server, Análisis y Desarrollo de Sistemas backend, Desarrollo y mantenimiento de Wallets por medio de Apis. https://pm.readycash.com/",
    link: "https://readycash.com/",
  },
  {
    date: "Marzo 2022 - Febrero, 2025 (3 años)",
    title: "Performance Development & Quality Tester",
    company: "La Nacion S.A",
    description:
      "Argentina. JavaScript, Playwright, Visual Studio Code, Azure, SQL, Node.js. Análisis y Desarrollo de Tests Automáticos y Performance, CI, CD, Tools, AWS, para todos los productos digitales de la Empresa.",
    link: "https://www.lanacion.com.ar/",
  },
  {
    date: "Abril de 2017 - Marzo de 2022 (5 años)",
    title: "Development .Net - Informático, TI.",
    company: "Obra Social de Docentes Privados (OSDOP)",
    description:
      "Buenos Aires, Argentina. Uso de .Net C# MVC Web Entity Framework .Net Core Javascript HTML CSS Jquery. Participación activa en proyectos. Planteamiento de soluciones técnicas basadas en la necesidad del negocio. Desarrollo con estándares de calidad. Soporte y creación de soluciones administrativas, rrhh, finanzas, gestion del asegurado, etc.",
    link: "https://www.osdop.org.ar/",
  },
  {
    date: "Enero de 2021 - Mayo de 2021 (5 meses)",
    title: "Development .Net FullStack – Freelancer",
    company: "Tigre, Municipio de Buenos Aires. Capital Argentina.",
    description:
      "Buenos Aires y alrededores. Software de Gestión - Independiente – Ciudad Autónoma de Buenos Aires .NetCore, EntityFrameworkCore, MVC, SQL Server, JavaScript, JQuery, JSON, Sql Server, Análisis y Desarrollo de Sistemas para la gestión y control de medios publicitarios a proveedores externos del organismo.",
    link: "https://www.tigre.gob.ar/",
  },

  {
    date: "Agosto de 2010 - Octubre de 2016 (6 años 3 meses)",
    title: "Analista de Datos Procesos y Estadística - Gerencia de Seguridad Industrial",
    company: "C.A. Metro de Caracas",
    description:
      "Levantamiento de información de procesos internos para su sistematización. Planificación, control y seguimiento de indicadores de Gestión, Plan operativo de la gerencia, Estadísticas, objetivos, metas.",
    link: "https://metrodecaracas.com.ve/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
